@model List<StoreApp.Models.Product>

@section Footer {
    <div>
        Only for Index Footer.
    </div>
}


    @foreach (StoreApp.Models.Product prd in Model)
    {
        <div>
            <h3>@prd.ProductName</h3>
            <P>@prd.Price</P>
            <p>
                <a href="/Product/Get/@prd.ProductId">Get Details</a>
            </p>
        </div>
    }
 
